<div class="w-full flex flex-col gap-20 justify-center items-center bg-main text-text-light">
  <div class="text-6xl w-40 text-center">
    <i class="fa-solid fa-house"></i>
    <i class="fa-solid fa-plane"></i>
    <i class="fa-solid fa-hand-holding-dollar"></i>
    <i class="fa-solid fa-utensils"></i>
  </div>
  <h1 class="font-bold text-4xl">MyBudget</h1>
  <div class="w-full flex flex-col gap-5">   
    <div class="w-screen py-3 px-5 bg-second font-medium text-center text-lg">
      <div class="py-3 px-5 border-solid border-2 border-gray-50">
        <%= link_to "Log in", new_user_session_path %>
      </div>
    </div>

    <div class="w-screen py-3 px-5 bg-second font-medium text-center text-lg">
      <div class="py-3 px-5 border-solid border-2 border-gray-50">
        <%= link_to "Sign up", new_user_registration_path %>
      </div>
    </div>
  </div>
</div>