<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="w-screen bg-main text-2xl text-center text-text-light py-5">CATEGORIES</h1>
  </div>

  <div id="categories" class="min-w-full bg-slate-100 flex flex-col gap-5 p-5">
    <%= render @categories %>
  </div>
  
  <div class="p-5 bg-second w-screen">
    <%= link_to 'NEW', new_category_path, class: "py-3 px-5 border-solid border-2 border-gray-50 bg-second text-text-light block font-medium text-center" %>
  </div>
</div>
