<div class="w-full h-full">
  <div class="flex justify-between items-center">
    <%= link_to categories_path, class: "fixed p-5 text-lg text-text-light" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h1 class="w-screen bg-main text-2xl text-center text-text-light py-5">NEW EXPENSE</h1>
  </div>

  <div class="h-full p-5 flex flex-col items-center mt-20">
    <%= render "form", expense: @expense %>
  </div>
</div>
